@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div id="header"><span class="title">@title</span></div>

        <div id="sidebar"></div>

        <div id="content">
            @content
        </div>

        <!-- Templates -->
        <script type="text/template" id="tpl-wine-list-item">
            <a href='#wines/<%= id %>'><%= name %></a>
        </script>

        <script type="text/template" id="tpl-wine-details">
            <div class="form-left-col">
                <label for="wineId">Id:</label>
                <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= name %>" required/>
                <label for="grapes">Grapes:</label>
                <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" value="<%= country %>"/>
                <label for="region">Region:</label>
                <input type="text" id="region" name="region"  value="<%= region %>"/>
                <label for="year">Year:</label>
                <input type="text" id="year" name="year"  value="<%= year %>"/>
            </div>
            <div class="form-right-col">
                <img height="300" src="@routes.Assets.at("images")/<%= picture %>"/>
                <label>Notes:</label>
                <textarea id="description" name="description"><%= description %></textarea>
            </div>
        </script>

        <!-- JavaScript -->
        <script src="@routes.Assets.at("javascripts/libs/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/backbone-min.js")" type="text/javascript"></script>
        <script src="@routes.Wines.javascriptRoutes()" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/models/wine.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/collections/wines.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/views/wines/list.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/views/wines/item.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/views/wines/details.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/router.js")" type="text/javascript"></script>
    </body>
</html>
